$color_nav_footer: #222222;
$cont_width: 1140px;
$header_bgcolor: #F1E4E6;

*{
    margin: 0;
    padding: 0;
}

.container{
    width: $cont_width;
    margin: 0 auto;
}

/*для панели навигации*/
.navigation{
    height: 100%;
    background-color: $color_nav_footer;

    &__content{
        display: flex;
        justify-content: space-between;
    }

    &__img{
        margin: 18px 18px;
    }
}

/*Шапка сайта*/
.header{
    background-color: $header_bgcolor;
    max-height: 764px;
    margin-bottom: 65px;

    &__content{
        display: flex;
        flex-wrap: wrap;
        align-items: center; 
    }

    &__photo{
        width: 50%;
    }

    &__brtext{
        width: 50%;
        align-items: center;
    }

    &__text{
        border-left: 12px solid #f16d7f;
        padding-left: 16px;
    }

    &__text h1{
        color: #222222;
        font-family: Lato, sans-serif;
        font-size: 48px;
        font-weight: 900;
        line-height: 58px;
    }

    &__text span{
        color: #222222;
        font-family: Lato, sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
        letter-spacing: mormal;
    }

    &__text i{
        display: inline-block;
        font-style: normal;
        color: #f16d7f;
    }

}

/*Основной каталог - категории*/
.content{
    
    &__category{
        margin-bottom: 96px;
    }

    &__categories{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__card{
        max-width: 360px;
        height: 260px;
    }

    &__cataccimg{
        max-width: 100%;
    }

}