$color_nav_footer: #222222;
$cont_width: 1140px;
$header_bgcolor: #F1E4E6;
$color_link: #f16d7f;


@mixin font($cl, $ff, $fs, $fw, $lh) {
    color: $cl;
    font-family: $ff;
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
}

*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: $cont_width;
    margin: 0 auto;
}

/*для панели навигации*/
.navigation{
    height: 100%;
    background-color: $color_nav_footer;

    &__content{
        display: flex;
        justify-content: space-between;
    }

    &__list {
        list-style-type: none;
        display: flex;
        margin-top: 5px;
    }

    &__img{
        margin: 18px 18px;
    }

    &__right{
        position: relative;
    }
}


.menu_list:hover .menu{
    display: block;
}

.menu{
    
    display: none;
    width: 232px;
    top: 50px;
    position: absolute;
    background: #FFFFFF;
    z-index: 100;

    &__p {
        @include font($color_nav_footer, 'Lato', 14px, 700, 17px);
        text-transform: uppercase;
        text-align: left;
        padding-left: 34px;
        padding-top: 34px;
        padding-bottom: 24px;
    }

    &__heading {
        text-transform: uppercase;
        @include font($color_link, "Lato", 14px, 400, 17px);
        padding: 11px 0 5px 34px;
    }

    &__items {
        display: block;
        @include font(#646464, 'Lato', 14px, 400, 28px);
        text-decoration: none;
        padding: 5px 0 5px 55px;
    }

    &__items:hover {
        color: $color_link;
    }

}

.menu::before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    position: absolute;
    top: -5px;
    left: 30px;
    transform: rotate(45deg);
}

/*Шапка сайта*/
.header{
    background-color: $header_bgcolor;
    max-height: 764px;
    margin-bottom: 65px;

    &__content{
        display: flex;
        position: relative;
        flex-wrap: wrap;
        align-items: center; 
    }

    &__photo{
        width: 50%;
        position: relative;
        left: -150px;
    }

    &__brtext{
        width: 50%;
        position: relative;
        align-items: center;
        left: 100px;
    }

    &__text{
        border-left: 12px solid $color_link;
        padding-left: 16px;
    }

    &__text h1{
        @include font($color_nav_footer, 'Lato', 48px, 900, 58px);
    }

    &__text span{
        @include font($color_nav_footer, 'Lato', 32px, 700, 38px);
        letter-spacing: 0em;
        text-align: left;
        letter-spacing: mormal;
    }

    &__text i{
        display: inline-block;
        font-style: normal;
        color: $color_link;
    }

}

/*Основной каталог - категории*/


/*Для надписей*/
.caption__textdeal {
    text-transform: uppercase;
    @include font(#FFFFFF, 'Lato', 16px, 400, 19px);
    text-align: center;
}

.caption__text {
    text-transform: uppercase;
    @include font($color_link, 'Lato', 24px, 700, 28px);
    text-align: center;
}


.content{
    
    &__category{
        margin-bottom: 96px;
    }

    &__categories{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__card{
        max-width: 360px;
        position: relative;
    }

    &__caption {
        position: absolute;
        width: 100%;
        top: 100px;        
    }


    &__cataccimg{
        max-width: 100%;
        filter: brightness(30%);
    }

    &__catimg {
        filter: brightness(30%);
    }

    &__accesories{
        position: relative;
    }

    &__caption__accesories {
        position: absolute;
        width: 100%;
        top: 60px;
    }

    &__card__link {
        text-decoration: none;
    }


}

.cardbox {

    margin-bottom: 95px;

    &__head {
        margin: 0 auto;
        text-align: center;

        & h3{
            @include font($color_nav_footer, 'Lato', 30px, 400, 36px);
        }
    }

    &__heading {
        @include font(#9F9F9F, 'Lato', 14px, 400, 17px);
        margin-bottom: 60px;
    }

    &__item {
        width: 360px;
        position: relative;
        margin-bottom: 30px;
    }

    &__item:hover {
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    }

    &__pic {
        width: 100%;
    }

    &__link {
        display: block;
        text-decoration: none;
    }

    &_text {
        padding:  20px 20px 20px 0;
    }

    &__desc {
        @include font($color_nav_footer, 'Lato', 13px, 400, 16px);
        margin-bottom: 12px;
        text-transform: uppercase;
    }

    &__caption {
        @include font(#5D5D5D, 'Lato' 'light', 14px, 300, 17px);
        margin-bottom: 18px;
    }

    &__price {
        @include font($color_link, 'Lato', 16px, 400, 19px);
    }

    &__item:hover &__pic {
        filter: brightness(30%);
    }

    &__add {
        display: none;
        position: absolute;
        top: 188px;
        justify-content: center;
        width: 100%;
        pointer-events: none;
    }

    &__addlink {
        display: flex;
        align-items: center;
        padding: 10px;
        border: 1px solid #FFFFFF;
        text-decoration: none;
        pointer-events: all;
    }

    &__addtext {
        @include font(#ffffff, 'Lato', 14px, 400, 17px);
        margin-left: 10px;
    }

    &__item:hover &__add {
        display: flex;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 48px;
    }

    &__link_box {
        margin: 0 auto;
        width: 100%;
        //border: 1px solid #000;
        text-align: center;
    }

    &__link_button {
        display: inline-block;
        text-decoration: none;
        padding: 14px 38px;
        border: 2px solid $color_link;
        @include font($color_link, 'Lato', 16px, 400, 19px);
    }
}

.cardbox__link_button:hover{
    color: #fff;
    background-color: $color_link;
}


.atribute__info{
    background-color: $color_nav_footer;
    
    .atribute__infobox {

        display: flex;
        justify-content: space-between;

        .atribute__infoitem {
            width: $cont_width / 3 - 20px;
            text-align: center;
            margin: 100px 0;

            &_head{
                @include font(#FBFBFB, 'Lato', 20px, 400, 24px);
                margin-top: 28px;
                margin-bottom: 16px;
            }

            &_text{
                @include font(#FBFBFB, 'Lato', 14px, 300, 17px);
                text-decoration: none;
            }

            &_text:hover{
                color: $color_link;
            }
        }
    }   

}


.contact{
    background-image: url(images/footer_index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 448px;
}

.contact__box {
    display: flex;
    justify-content: space-between;
    padding-top: 130px;


    &_info {
        width: 360px;
        text-align: center;
    }

    &_string {
        @include font(#222224, 'Lato',20px, 400, 24px);
        margin-top: 20px;
    }

    &_email {
        width: 360px;
        text-align: center;
    }

    &_head {
        @include font(#222224, 'Lato', 24px, 700, 40px);
    }    

    &_caption {
        @include font(#222224, 'Lato', 18px, 400, 30px);
        margin-bottom: 32px;
    }

    &_emailinp {
        background-color: #e1e1e1;
        border: 1px solid #e1e1e1;
        font-size: 14px;
        color: #222224;
        padding: 12px;
        border-radius: 49px 0 0 49px;
    }

    &_button {
        background-color: $color_link;
        border: 1px solid #e1e1e1;
        padding: 12px;
        border-radius: 0 49px 49px 0;
        @include font(#FFFFFF, 'Lato', 14px, 300, 17px);
    }
}

.footer {
    background-color: $color_nav_footer;

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__text {
        display: block;
        @include font(#FBFBFB, 'Lato', 16px, 400, 19px);
        margin-top: 20px;
    }

    &__link a {
        text-align: center;
        width: 28px;
        height: 28px;
        float: left;
        background: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
        border-radius: 10px;
        margin: 0 10px 10px 0;
        padding: 6px;
        color: #000;
    }

    &__link {
        margin-top: 10px;
    }
}

/*Страница каталог*/

.cat{
    &__header{
        background-color: #F8F3F4;
    }

    &__headtext{
        display: inline-block;
        @include font($color_link, 'Lato', 24px, 400, 29px);
        text-transform: uppercase;
    }

    &__container{
        display: flex;
        justify-content: space-between;
        padding: 60px 0 60px 0;
    }

    &__nav{

        &_lnk{
            display: inline-block;
            @include font(#636363, 'Lato', 14px, 300, 17px);
            text-decoration: none;
        }



        &_lnkcr{
            display: inline-block;
            @include font($color_link, 'Lato', 14px, 300, 17px);
            text-decoration: none;
        }
    }

}

/*панель фильтра*/

summary{
    display: flex;
    color: black;
    text-transform: uppercase;
    
}
summary::-webkit-details-marker{
    display: none;
}
details[open] > summary{
    color: $color_link;
}
summary::after{
    content: url(images/catalog/Filter.svg);
    padding: 10px 0 0 0;
}
details[open] > summary::after{
    content: url(images/catalog/filter_color.png);
    padding: 10px 0 0 0;
}

details details summary::after{
    content: "";
}
details details[open] > summary::after{
    content: "";
}

details[open]{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    background-color: #fff;
}

.filter{
    margin-top: 56px;
    margin-bottom: 64px;
    position: relative;

    &__category{
        width: 360px;
        position: absolute;
        z-index: 100;

        &_head{
            padding: 10px 13px 16px 16px;
            text-transform: uppercase;
        }

        &_text{
            text-transform: uppercase;
            @include font($color_link, 'Lato', 14px, 400, 17px);
            width: 85%;
            margin-left: 16px;
            margin-bottom: 19px;
            line-height: 37px;
            border-left: 5px solid $color_link;
            border-bottom: 1px solid #EBEBEB;
            font-weight: 37px;
            padding-left: 11px;
        }
        &_head:hover{
            cursor: pointer;
        }
        &_text:hover{
            cursor: pointer;
        }
    }

    &__right{
        margin-left: 500px;

        &_list{
            list-style-type: none;
            display: flex;
        }
    }


    &__linkbox{

        &_link{
            background-color: #fff;
            text-decoration: none;
            @include font(#6F6E6E, 'Lato', 14px, 400, 17px);
            display: inline-block;
            margin-left: 34px;
            padding: 5px 25px 5px 0px;
        }

        &_link:hover{
            cursor: pointer;
            color: $color_link;
        }
    }

}



/*Пагинация*/
.pagination{
    margin-bottom: 96px;

    & ul{
        list-style-type: none;
        display: flex;
        padding: 11px 16px; 
        width: 30%;
        border: 1px solid #EBEBEB;
        border-radius: 5px;
        justify-content: center;
        margin: 0 auto;
    }


    &__page{
        text-decoration: none;
        @include font(#EBEBEB, 'Lato', 16px, 300, 19px);
        padding: 11px 8px;

        &_current{
            color: $color_link;
        }

        &_arrow{
            text-decoration: none;
            @include font(#000000, 'Lato', 19px, 400, 22px);
            padding: 11px 8px;
        }

        &_arrow:hover{
            color: $color_link;
        }
        
        &_space::after{
            content: ".....";
            @include font(#EBEBEB, 'Lato', 16px, 300, 19px);
        }
        
        &_space{
            padding: 11px 0px 11px 8px;
        }
    }

    &__page:hover{
        color: $color_link;
    }

}

/*страница product*/

.product__photo{
    width: 100%;
    background-color: #F7F7F7;
    position: relative;
}

.arrows{
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    font-size: 48px;
    font-weight: 800;
    top: 50%;

    &__point{
        padding: 10px 17px 10px 17px;
        background-color: rgba(42, 42, 42, 0.15);
        z-index: 2;
        cursor: pointer;

        &_right{
            color: $color_link;
        }
    }
}

.photo_img{
    width: 597px;
    margin: 0px auto 42px;
    z-index: 3;
}

.productdesc{
    text-align: center;
    border: 1px solid #EAEAEA;
    position: relative;
    background-color: #fff;
    top: -80px;
    z-index: 50;
}

.section{
    &_name{
        @include font($color_link, 'Lato', 14px, 300, 17px);
        margin-top: 64px;
        margin-bottom: 12px;
    }

    &_cont{
        @include font(#4D4D4D, 'Lato', 18px, 300, 21px);
        margin-bottom: 48px;
    }

    &_desc{
        width: 555px;
        display: inline-block;
        margin: 0 auto 32px;
        @include font(#5E5E5E, 'Lato', 14px, 300, 17px);
    }

    &_price{
        margin-bottom: 65px;
    }
}

.line_name{
    background-color: $color_link;
    border: 1px solid $color_link;
    height: 3px;
    width: 63px;
    margin: 0 auto 12px;
}

.line_price{
    width: 641px;
    border: 1px solid #EAEAEA;
    margin: 0 auto;
}

.prodparams{
    width: 350px;
    align-items: center;
    margin: 65px auto 48px;
}

.filter{
    &_list{
        list-style-type: none;
        display: flex;
    }

    &_link{
        text-decoration: none;
        @include font(#6F6E6E, 'Lato', 14px, 400, 17px);

        &_span{
            padding: 9px;
        }
    }
}

.button__cart{

    width: 200px;
    margin: 0 auto 65px;

    &_add{
        display: flex;
        border: 1px solid $color_link;
        justify-content: center;
        width: 100%;
        @include font($color_link, 'Lato', 16px, 400, 19px);
        text-decoration: none;
        padding: 10px;
    }

    &_addtext{
        padding-left: 10px;
    }
}

.fa-shopping-cart{
    color: $color_link;
}

.button__cart_add:hover{
    background-color: $color_link;
    .fa-shopping-cart{
        color: #fff;
    }
    .button__cart_addtext{
        color: #fff;
    }
}

/*Корзина*/

.cart__box{
    display: flex;
    justify-content: space-between;
    margin-top: 96px;
    margin-bottom: 128px;
}

.cart_container{
    width: 48%;
}

.cart__link{
    text-decoration: none; 
    @include font(#575757, 'Lato', 22px, 400, 26px);
    margin-bottom: 6px;
}

.cart_item{
    display: flex;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    margin-bottom: 40px;
}

.cart_info{
    box-sizing: border-box;
    padding: 22px 0 0 31px;

    h3{
        @include font(#222222, 'Lato', 24px, 400, 29px);
        margin-bottom: 42px;
    }

    p span{
        @include font($color_link, 'Lato', 22px, 400, 26px);
    }

    label{
        padding-right: 24px;
    }
    input{
        @include font(#656565, 'Lato', 18px, 400, 21px);
        text-align: center;
        border: 1px solid #656565;
    };

}

.cart_button{
    display: flex;
    justify-content: space-between;

}

.cart__button_option{
    text-decoration: none;
    @include font(#000000, 'Lato', 14px, 300, 16px);
    border: 1px solid #A4A4A4;
    padding: 15px 38px;
}

.cart__button_option:hover{
    border: 1px solid $color_link;
    color: $color_link;
}

.customer_info{
    width: 48%;
    padding: 20px 0 0 20px;
}
.customer_data{
    h2{
        @include font(#222222, 'Lato', 16px, 300, 19px);
        margin-bottom: 20px;
    }

    input{
        @include font(#B1B1B1, 'Lato', 13px, 300, 15px);
        width: 358px;
        height: 45px;
        border: 1px solid #A4A4A4;
        padding-left: 17px;
        margin-bottom: 20px;
    }
}